.widget-slider .rc-slider-handle,
.widget-slider .rc-slider-dot-active {
    border: 2px solid #e9e9e9;

}

.widget-slider.has-error .rc-slider-track,
.widget-slider.has-error .rc-slider-rail {
    background-color: #a94442;
}

.rc-slider-mark-text {
    width: auto !important;
    margin-left: -4px !important;
}

.rc-slider.rc-slider-with-marks {
    padding-bottom: 25px;
}

.rc-slider.rc-slider-disabled {
    background-color: transparent;
}

.widget-slider-default .rc-slider-track {
    background-color: #DDDDDD;
 }
 
 .widget-slider-inverse .rc-slider-track {
    background-color: #3D3F41;
 }
 
 .widget-slider-primary .rc-slider-track{
    background-color: #59C2E6;
 }

.widget-slider-info .rc-slider-track {
    background-color: #8AD4ED;
}
 
.widget-slider-success .rc-slider-track {
    background-color: #8CC152;
}
 
.widget-slider-warning .rc-slider-track {
    background-color: #f4a911;
}
 
.widget-slider-danger .rc-slider-track {
    background-color: #D9534F;
}
